   <div>
        <h1>ADD PRODUCT</h1>
    </div>

    <form action="admin/addProduct" enctype="multipart/form-data" method="post">
        <table  align= "center">
           
            <tr>
                <input type="hidden" name="id" value="{{edit._id}}">
                <td>title product</td> 
                <td><input type="text" name="title" value="{{edit.title}}"></td>
            </tr>
            <tr>
                <td>Price</td> 
                <td><input type="text" name="price" value="{{edit.price}}"></td>
            </tr>
            <tr>
                <td>Images product</td> 
                <p>{{edit.productImage}}</p>
                <td><input type ="file" name = "productImage" value="{{edit.productImage}}"></td>
            </tr>
            
            
            <tr>
                <td colspan =2 style=" text-align: center">
                    <input type ="submit" name = "submit" value ="Submit">
                    <input type ="submit" name = "cancel" value ="Cancel" > 
                </td>
                  <td colspan =2 style=" text-align: center">
                    <a href="admin/listProducts">ViewProducts</a>
                </td>
            </tr>
          
        </table>
    </form>
   
 