
 {{!-- <h2 class="title">Products</h2>
   
         <div class="small-container">
           
                <div class="row">
                    {{#each listproduct}}
                        <div class="col-4">
                            <img  src="{{listproduct.productImage}}" alt=""> 
                            <h4> {{listproduct.title}} </h4>
                            <p>{{listproduct.price}}</p>
                            <a href="#" class="btn">Add to cart</a>
                            <a href="#" class="btn">Buy now</a>
                        </div>
                    {{/each}}
                </div>
            
        </div> --}}

{{> admin/listProduct listproduct}}

{{!-- <h2 class="title">Products</h2>
   
         <div class="small-container">
           
                <div class="row">
                    {{#each listproduct}}
                        <div class="col-4">
                            <img  src="{{this.productImage}}" alt=""> 
                            <h4> {{this.title}} </h4>
                            <p>{{this.price}}</p>
                            <a href="#" class="btn">Add to cart</a>
                            <a href="#" class="btn">Buy now</a>
                        </div>
                    {{/each}}
                </div>
        </div>
   --}}