{{!--     
    {{#each this}}
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
    {{/each}} 

   {{#each this}}
        <img  src="{{this.productImage}}" alt=""> 
    {{/each}}  --}}
    <a href="admin" class="btn">Add </a>
    {{#each this}}
        <form action="" method="post">
            <div class="small-container cart-page">
                <table class="table-cart">
                    <tr>
                        <th class="th-cart">Products</th>
                        <th class="th-cart">Quantity</th>
                        <th class="th-cart">Subtotal</th>
                    </tr>
                    <tr>
                        <td class="td-cart">
                            <div class="cart-info">
                                  
                                        <img  src="{{this.productImage}}" alt=""> 
                                   
                                <div>
                                    <p>
                                      
                                            <p>{{this.title}}</p>
                                     
                                    </p>
                                    <small>
                                      
                                            <p>{{this.price}}</p>
                                      
                                        
                                    </small>
                                    <a href="listProducts/{{this._id}}">Remove</a>
                                     <a href="listProducts/edit/{{this._id}}">Edit</a>
                                </div>
                            </div>
                        </td>
                        <td> <p>{{this.price}}</p></td>
                    </tr>
                </table>       
            </div>                
        </form>
    {{/each}}